/* 全体のレイアウト */
#all_layout {
  padding-left: 100px;
  padding-right: 100px;
}

/* 検索結果表のレイアウト */
#search_rayout{
  width: 60%;
  margin: 0 auto;
  padding: 10px 40px;
  margin-bottom: 10px;
}

/* 検索ボタン */
#search_button{
text-align: center;
}

#result_rayout{
  width: 70%;
  margin: 0 auto;
}

#search_result {
  width: 100%;
}

/* csvインポートボタン */
#csv{
  width: 70%;
  margin: auto;
}

/* csvエクスポートボタン */
#c_export{
  padding-bottom: 10px;
}

/* jsonインポートボタン */
#json{
  width: 70%;
  margin: auto;
}

/* jsonエクスポート */
#j_export{
  padding-bottom: 10px;
}

/* 編集ボタン */
#detail_button{
  align:center;
}

/* 編集・削除をまとめたテーブル */
#detail_table{
  width: 300px;
}
/* 編集ボタン */
#d_1{
   display: inline-block;
   align: middle;
   padding-right: 5px;
}
/* 削除ボタン */
#d_2{
  display: inline-block;
  align: middle;
  padding-left: 5px;
}

.th_bgc{
  background-color: #99FFCC;
}

/* 詳細テーブルtdタグ */
.detail_td{
  width: 150px;
}

/* commonのヘッダー部分をまとめたテーブル */
#table{
  width: 100%;
  margin: 0 auto;
}
/* タイトル */
#title{
  text-align: left;
}
/* ヘッダーのリンク集 */
#link{
  text-align: right;
}
